<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your profile</h1>
  </div>
  <div class="col-8">
    <!-- <div class="alert alert-info" *ngIf="editForm.dirty">
      <strong>Information:</strong> You have made changes.
    </div> -->
  </div>
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created}}</p>
        </div>
      </div>

      <div class="card-footer">
        <!-- <button *ngIf="editForm.dirty" type="submit" form="editForm" class="btn btn-success btn-block">Save changes</button> -->
        <button type="submit" form="editForm" class="btn btn-success btn-block">Save
          changes</button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1"><a ngbNavLink>About {{member.knownAs}}</a>
        <ng-template ngbNavContent>
          <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information:</strong> You have made changes.
          </div>
          <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
            <h4 class="mt-2">Description</h4>
            <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction" rows="6"></textarea>
            <h4 class="mt-2">Looking for</h4>
            <textarea class="form-control" [(ngModel)]="member.lookingFor" name="lookingFor" rows="6"></textarea>
            <h4 class="mt-2">Interests</h4>
            <textarea class="form-control" [(ngModel)]="member.interests" name="interests" rows="6"></textarea>
            <h4 class="mt-2">Location Details:</h4>
            <div class="form-inline">
              <label for="city">City: </label>
              <input [(ngModel)]="member.city" type="text" name="city" class="form-control">
              <label for="Country">Country</label>
              <input [(ngModel)]="member.country" type="text" name="country" class="form-control">
            </div>
          </form>
        </ng-template>
      </li>
      <li [ngbNavItem]="2"><a ngbNavLink>Edit Photos</a>
        <app-photo-editor [member]="member"></app-photo-editor>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>